.addItem {
}

.addItemBtn {
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    position: fixed;
    right: 2rem;;
    bottom: 5rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    transition: all ease .5s;
}

.addItemBtn:hover {
    box-shadow: 1px 1px 10px 1px black;
}