.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #26ffcb;
    padding-left: 15px;
}

.reset {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin: 25px 0 50px;
}

.board {
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
    color: white;
}

.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background: #282C34;
    border: 4px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.boxes img {
    /* margin: 50px 50px; */
}

.title img {
    padding: 20px 20px;
    height: 50px;
}